<div class="container">
  <p>
    <%= link_to "Submit your scary story", new_story_path, class: "btn btn_primary"%>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @stories.each do |story| %>
      <div class="well">
        <%= story.body %>        
        <br>
        <br>
        <%= link_to "That scared me", like_story_path(story), method: :put, class: "btn btn-warning btn-xs" %><span class="text-warning"> (<%= story.get_upvotes.size %>)</span>
        <%= link_to "You wimp!", dislike_story_path(story), method: :put, class: "btn btn-success btn-xs" %><span class="text-warning"> (<%= story.get_downvotes.size %>)</span>        
        <%= link_to 'Comments', story_path(story), class: "btn btn-link btn-xs" %><small><em><%= story.comments.count %></em></small>
        <span class="text-muted pull-right"><small>Created by: <%= story.user.name %> on <%= story.created_at.strftime('%B %d, %Y at %l:%M %p') %></small></span>
        <br>
        <span class="text-muted pull-right"><small>Cateogry: <%= story.category.name %></small></span>
      </div>
      <% end %>
    
    </div>
    <div class="col-md-4 col-sm12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Categories</div>
          <ul class="list-group">
            <% Category.all.each do |category| %>
              <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>